<div>
    <div  align="center">
    	<font color="#EE0000">*** 本周热门 ***</font>
    </div>
	<ul>
		<li><a href="/2016/02/24/DB2-db2top/"><font color="#EE0000">【精】</font>DB2 db2top 介绍和使用</a></li> 
		<li><a href="/2016/05/05/About-ID/"><font color="#EE00FF"></font>[原创]关于系统和数据库ID的一些事</a></li>   
		<li><a href="/2016/02/22/DB2-MonTableFuction/"><font color="#EE0000">【精】</font>[原创]DB2 监控表的使用</a></li>  
		<li><a href="/2016/02/11/DB2-Script-runstat-reorg/">[原创]DB2 Reorg/Runstat简单脚本</a></li>
		<li><a href="/2016/02/11/DB2-SQL1326N/"><font color="#EE0000">【精】</font>[原创]DB2 数据库升级碰到的错误-SQL1326N</a></li>
	</ul>
</div>
